<!-- Form to add a new game -->
<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <form class="new-game-form" method="POST" action="/new">
      <label for="gameName"><b>Name:</b></label>
      <input type="text" id="gameName" name="gameName" />
      <label for="yearPublished"><b>Year Published:</b></label>
      <input type="number" id="yearPublished" name="yearPublished" />
      <fieldset class="genre-checkbox">
        <legend><b>Select Genre:</b></legend>
        <div class="genre-checkboxes">
            <% genres.forEach((genre) => { %>
                <input type="checkbox" id="<%= genre.id %>" name="genre" value="<%= genre.id %>">
                <label for="<%= genre.id %>"><%= genre.genre %></label>
            <% }) %>
        </div>
        <!-- <legend>Select Genre:</legend>
        <input type="checkbox" id="1" name="genre" value="1">
        <label for="1">Action</label>
        <input type="checkbox" id="2" name="genre" value="2">
        <label for="2">RPG</label>
        <input type="checkbox" id="3" name="genre" value="3">
        <label for="3">Adventure</label>
        <input type="checkbox" id="4" name="genre" value="4">
        <label for="4">First Person Shooter</label>
        <input type="checkbox" id="5" name="genre" value="5">
        <label for="5">Third Person Shooter</label>
        <input type="checkbox" id="6" name="genre" value="6">
        <label for="6">Sports</label>
        <input type="checkbox" id="7" name="genre" value="7">
        <label for="7">Survival Horror</label>
        <input type="checkbox" id="8" name="genre" value="8">
        <label for="8">Platformer</label>
        <input type="checkbox" id="9" name="genre" value="9">
        <label for="9">Rogue-like</label>
        <input type="checkbox" id="10" name="genre" value="10">
        <label for="10">Strategy</label>
        <input type="checkbox" id="11" name="genre" value="11">
        <label for="11">Puzzle</label>
        <input type="checkbox" id="12" name="genre" value="12">
        <label for="12">Racing</label> -->
      </fieldset>
      <label for="gameDeveloper"><b>Game developer: </b></label>
      <input type="text" id="gameDeveloper" name="gameDeveloper">
      <label for="coverArt"><b>Cover Art (optional): </b></label>
      <input type="text" id="coverArt" name="coverArt">
      <input class="details-btn" type="submit" value="submit" />
    </form>
  </body>
</html>
