<html>
    <head>
        <title>Games Inventory</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
       <h2 class="index-title"><%= title %> Games</h2>
       <ul class="games-list">
        <!-- games for each -->
        <% games.forEach((game) => { %>
            <li>
                <div class="game-block">
                    <img class="cover-image" src=<%= game.cover %> alt="Video game cover art">
                    <div class="game-details">
                        <h3> <%= game.name %></h3>
                        <h4><b>Released: </b> <%= game.year %></h4>
                        <h4><b>Genre(s):
                        <% game.genres.map((genre) => { %>  
                            <%=genre + ', ' %>
                        <% }) %> </b></h4> 
                        <h4><b>Developer(s):
                        <% game.developers.map((genre) => { %>  
                            <%=genre + ', ' %>
                        <% }) %> </b></h4> 
                        <a href="/games/<%= game.id %>">See game.</a>
                    </div>
                </div>
            </li>
        <% }) %>
       </ul>
    </body>
</html>