<html>
    <head>
        <title>Games Inventory</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
       <h2 class="index-title"><%= title %></h2>
       <ul class="games-list">
        <!-- games for each -->
        <!-- <% messages.forEach((message) => { %>
            <li>
                <div class="message-block">
                    <span><b>User:</b> <%= message.username %></span>
                    <span><b>Message:</b> <%= message.text %></span>
                    <span><b>Date sent:</b> <%= message.added %></span>
                    <a href="/messages/<%= message.id %>"><b>See Game Details</b></a>
                </div>
            </li>
        <% }) %> -->
       </ul>
    </body>
</html>