<html>
    <head>
        <title>Games Inventory</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
       <%- include('partials/header.ejs') %>
       <h2 class="index-title"><%= title %></h2>
       <a class="btn-link" href="/new">Add New Game</a>
       <div class="browse-by-category">
            <a class="btn-link" href="/genres">Browse by Genre</a>
            <a class="btn-link" href="/devs">Browse by Developer</a>
       </div>
       <ul class="games-list">
        <!-- games for each -->
        <% games.forEach((game) => { %>
            <li>
                <div class="game-block">
                    <img class="cover-image" src=<%= game.cover %> alt="Video game cover art">
                    <div class="game-details">
                        <h3> <%= game.name %></h3>
                        <h4><b>Released: </b> <%= game.year %></h4>
                        <h4><b>Genre(s):
                        <% game.genres.map((genre) => { %>  
                            <%=genre + ', ' %>
                        <% }) %> </b></h4> 
                        <h4><b>Developer(s):
                        <% game.developers.map((genre) => { %>  
                            <%=genre + ', ' %>
                        <% }) %> </b></h4>
                        <div class="game-links">
                            <a href="/edit/<%= game.id %>">Edit details</a> 
                            <a href="/delete/<%= game.id %>">Delete game.</a>
                            <a href="/games/<%= game.id %>">See game.</a>
                        </div>
                    </div>
                </div>
            </li>
        <% }) %>
       </ul>
    </body>
</html>